@page
@model SpinsOnlineRazor.Pages.Masterlists.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].ExtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].Citizenship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].MothersMaiden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].PSGCRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].PSGCProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].PSGCCityMun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].PSGCBrgy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].SexID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].MaritalStatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].EducAttain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].IDTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].IDDateIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].Pantawid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].Indigenous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].SocialPensionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].HouseholdID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].IndigenousID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].ContactNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].HealthStatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].HealthStatusRemarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].DateTimeEntry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].EnteryBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].DataSourceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].StatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].RegTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].InclusionBatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].InclusionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].ExclusionBatch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].ExclusionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].DateDeceased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].DateTimeModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].DateTimeDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].WaitlistedReportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masterlist[0].WithPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Masterlist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citizenship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MothersMaiden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSGCRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSGCProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSGCCityMun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSGCBrgy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducAttain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDDateIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pantawid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indigenous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialPensionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseholdID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndigenousID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthStatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthStatusRemarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnteryBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSourceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InclusionBatch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InclusionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExclusionBatch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExclusionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDeceased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaitlistedReportID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithPhoto)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
