@page
@model SpinsOnlineRazor.Pages.Masterlists.IndexModel

@{
    ViewData["Title"] = "Masterlists";
}

@using Syncfusion.EJ2
@using Syncfusion.EJ2.PdfViewer

@{
    PdfViewerAnnotationSettings annotationSettings = new PdfViewerAnnotationSettings()
            {
                IsLock = true

            };
}

<h1>Masterlist</h1>

@* <p>
<a asp-page="Create">Create New</a>
</p> *@
@* <table class="table">
<thead>
<tr>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Beneficiary)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Region)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Province)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Municipality)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Barangay)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Sex)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Maritalstatus)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Validationform)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].Status)
</th>
<th>
@Html.DisplayNameFor(model => model.Masterlist[0].IdentificationType)
</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model.Masterlist) {
<tr>
<td>
@Html.DisplayFor(modelItem => item.Beneficiary.FirstName)
</td>
<td>
@Html.DisplayFor(modelItem => item.Region.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Province.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Municipality.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Barangay.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Sex.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Maritalstatus.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Validationform.ValidationformID)
</td>
<td>
@Html.DisplayFor(modelItem => item.Status.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.IdentificationType.Name)
</td>
<td>
<a asp-page="./Edit" asp-route-id="@item.MasterlistID">Edit</a> |
<a asp-page="./Details" asp-route-id="@item.MasterlistID">Details</a> |
<a asp-page="./Delete" asp-route-id="@item.MasterlistID">Delete</a>
</td>
</tr>
}
</tbody>
</table> *@

<ejs-grid id="Grid" allowExcelExport="true" dataSource="@Model.BeneficiaryViewModel" allowFiltering="true"
    detailTemplate="#detailtemplate" toolbarClick="toolbarClick" ExcelQueryCellInfo="exportQueryCellInfo"
    pdfQueryCellInfo="exportQueryCellInfo" dataBound="gridDataBound" toolbar="@(new List<string>() {"ExcelExport"})">
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-columns>

        <e-grid-column field="LastName" headerText="Last Name" width="120"></e-grid-column>
        <e-grid-column field="FirstName" headerText="First Name" width="120"></e-grid-column>
        <e-grid-column field="MiddleName" headerText="Middle Name" width="150"></e-grid-column>
        <e-grid-column field="ExtName" headerText="Ext Name" width="120"></e-grid-column>
        <e-grid-column field="Status" headerText="Status" width="200"></e-grid-column>
        <e-grid-column field="Referencecode" headerText="GIS" width="200"></e-grid-column>
        <e-grid-column field="SpinsBatch" headerText="Spins Batch" width="150"></e-grid-column>
        @*<e-grid-column field="Pantawid" headerText="Pantawid" width="150" displayAsCheckBox="true" textAlign="Center"
        type="boolean"></e-grid-column>
        <e-grid-column field="Indigenous" headerText="Indigenous" width="150" displayAsCheckBox="true"
        textAlign="Center" type="boolean"></e-grid-column>
        <e-grid-column field="BirthDate" headerText="Birth Date" width="120" format="yyyy-MM-dd"
        visible="false"></e-grid-column>
        <e-grid-column field="RegionName" headerText="Region" width="200"></e-grid-column>
        <e-grid-column field="ProvinceName" headerText="Province" width="200"></e-grid-column>
        <e-grid-column field="MunicipalityName" headerText="Municipality" width="200"></e-grid-column>
        <e-grid-column field="BarangayName" headerText="Barangay" width="200"></e-grid-column>
        <e-grid-column field="Assessment" headerText="Assessment" width="200"></e-grid-column>
        <e-grid-column field="IdentificationType" headerText="ID Type" width="200"></e-grid-column>
        <e-grid-column field="IdentificationNo" headerText="ID Number" width="200"></e-grid-column>
        <e-grid-column field="IdentificationDate" headerText="Date Issued"
        width="200"format="yyyy-MM-dd"></e-grid-column> *@
    </e-grid-columns>
</ejs-grid>

<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];

        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }

    function exportQueryCellInfo(args) {

    };
    var isInitial = true;
    function gridDataBound(args) {
        if (isInitial) {
            var grid = document.getElementById("Grid").ej2_instances[0];
            grid.toolbarModule.toolbar.hideItem(2, true);
            isInitial = false;
        }
    }
</script>




<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
    }
</style>

<script type="text/x-template" id="detailtemplate">
    <table class="detailtable" width="100%">
        <colgroup>
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
            <col width="40%" />
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <span style="font-weight: 500;">Region </span> ${RegionName}
                </td>
                <td>
                    <span style="font-weight: 500;">Assessment: </span> ${Assessment}
                </td>
                 <td>
                    <span style="font-weight: 500;">Birth Date: </span> ${BirthDate.toLocaleDateString()}
                </td>
                 <td>
                    <span style="font-weight: 500;">Pantawid: </span> ${Pantawid}
                </td>
            </tr>
             <tr>
                   <td>
                    <span style="font-weight: 500;">Province: </span> ${ProvinceName}
                </td>
                <td>
                    <span style="font-weight: 500;">ID Type: </span> ${IdentificationType}
                </td>
                <td>
                    <span style="font-weight: 500;">Address/Purok: </span> ${Address}
                </td>
                 <td>
                    <span style="font-weight: 500;">Indigenous: </span> ${Indigenous}
                </td>
            </tr>
             <tr>
                   <td>
                    <span style="font-weight: 500;">Municipality: </span> ${MunicipalityName}
                </td>
                <td>
                    <span style="font-weight: 500;">ID Number: </span> ${IdentificationNo}
                </td>
                 <td>
                    <span style="font-weight: 500;">Contact Number: </span> ${ContactNumber}
                </td>
            </tr>
              <tr>
                   <td>
                    <span style="font-weight: 500;">Barangay: </span> ${BarangayName}
                </td>
                <td>
                    <span style="font-weight: 500;">Date Issued: </span> ${IdentificationDate.toLocaleDateString()}
                </td>
            </tr>
            
             </tr>
        </tbody>
    </table>
</script>





@*Paging code for razor below*@

@{
    //An mga button ma disable kung waya nay previous or next page.
    var prevDisabled = !Model.BeneficiaryViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BeneficiaryViewModel.HasNextPage ? "disabled" : "";
}
@*The paging buttons are displayed by tag helpers:*@
<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.BeneficiaryViewModel.PageIndex - 1)" asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @prevDisabled">
    &laquo;
</a>
<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.BeneficiaryViewModel.PageIndex + 1)" asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @nextDisabled">
    &raquo;
</a>
