@* @page
@model SpinsOnlineRazor.Pages.Masterlists.IndexModel

@{
    ViewData["Title"] = "Masterlists";
}

@using Syncfusion.EJ2
@using Syncfusion.EJ2.PdfViewer

@{
    PdfViewerAnnotationSettings annotationSettings = new PdfViewerAnnotationSettings()
            {
                IsLock = true

            };
}

<h1>Masterlist</h1>



<ejs-grid id="Grid" allowExcelExport="true" dataSource="@Model.BeneficiaryViewModel" allowFiltering="true"
    detailTemplate="#detailtemplate" toolbarClick="toolbarClick" ExcelQueryCellInfo="exportQueryCellInfo"
    pdfQueryCellInfo="exportQueryCellInfo" dataBound="gridDataBound" toolbar="@(new List<string>() {"ExcelExport"})">
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-columns>

        <e-grid-column field="LastName" headerText="Last Name" width="120"></e-grid-column>
        <e-grid-column field="FirstName" headerText="First Name" width="120"></e-grid-column>
        <e-grid-column field="MiddleName" headerText="Middle Name" width="150"></e-grid-column>
        <e-grid-column field="ExtName" headerText="Ext Name" width="120"></e-grid-column>
        <e-grid-column field="Status" headerText="Status" width="200"></e-grid-column>
        <e-grid-column field="Referencecode" headerText="GIS" width="200"></e-grid-column>
        <e-grid-column field="SpinsBatch" headerText="Spins Batch" width="150"></e-grid-column>

    </e-grid-columns>
</ejs-grid>

<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];

        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }

    function exportQueryCellInfo(args) {

    };
    var isInitial = true;
    function gridDataBound(args) {
        if (isInitial) {
            var grid = document.getElementById("Grid").ej2_instances[0];
            grid.toolbarModule.toolbar.hideItem(2, true);
            isInitial = false;
        }
    }
</script>




<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
    }
</style>

<script type="text/x-template" id="detailtemplate">
    <table class="detailtable" width="100%">
        <colgroup>
            <col width="20%" />
            <col width="20%" />
            <col width="20%" />
            <col width="40%" />
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <span style="font-weight: 500;">Region </span> ${RegionName}
                </td>
                <td>
                    <span style="font-weight: 500;">Assessment: </span> ${Assessment}
                </td>
                 <td>
                    <span style="font-weight: 500;">Birth Date: </span> ${BirthDate.toLocaleDateString()}
                </td>
                 <td>
                    <span style="font-weight: 500;">Pantawid: </span> ${Pantawid}
                </td>
            </tr>
             <tr>
                   <td>
                    <span style="font-weight: 500;">Province: </span> ${ProvinceName}
                </td>
                <td>
                    <span style="font-weight: 500;">ID Type: </span> ${IdentificationType}
                </td>
                <td>
                    <span style="font-weight: 500;">Address/Purok: </span> ${Address}
                </td>
                 <td>
                    <span style="font-weight: 500;">Indigenous: </span> ${Indigenous}
                </td>
            </tr>
             <tr>
                   <td>
                    <span style="font-weight: 500;">Municipality: </span> ${MunicipalityName}
                </td>
                <td>
                    <span style="font-weight: 500;">ID Number: </span> ${IdentificationNo}
                </td>
                 <td>
                    <span style="font-weight: 500;">Contact Number: </span> ${ContactNumber}
                </td>
                 <td>
                    <span style="font-weight: 500;">Health Status: </span> ${HealthStatus}
                </td>
            </tr>
              <tr>
                   <td>
                    <span style="font-weight: 500;">Barangay: </span> ${BarangayName}
                </td>
                <td>
                    <span style="font-weight: 500;">Date Issued: </span> ${IdentificationDate.toLocaleDateString()}
                </td>
                <td>
                    <span style="font-weight: 500;">Health Status: </span> ${Remarks}
                </td>
            </tr>
            
             </tr>
        </tbody>
    </table>
</script>






@{
    //An mga button ma disable kung waya nay previous or next page.
    var prevDisabled = !Model.BeneficiaryViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BeneficiaryViewModel.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.BeneficiaryViewModel.PageIndex - 1)" asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @prevDisabled">
    &laquo;
</a>
<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort"
    asp-route-pageIndex="@(Model.BeneficiaryViewModel.PageIndex + 1)" asp-route-currentFilter="@Model.CurrentFilter"
    class="btn btn-primary @nextDisabled">
    &raquo;
</a> *@
