@page
@model SpinsOnlineRazor.Pages.Beneficiaries.AddValidationForm
@{
    ViewData["Title"] = "AddValidationForm";
}
<style>
    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        using SpinsOnlineRazor.Models.RedesignModels.ComplexModels;
        flex: 33%;
        padding: 10px;
        height: 100%;
        /* Should be removed. Only for demonstration */
    }
</style>

<h1>Validation Form (GIS)</h1>
<div>
    <h4>Selected Benficiary</h4>
    <hr />
    <form enctype="multipart/form-data" method="post">
        @* <form method="post"> *@
        <div class="row">

            <div class="column">
                <h3>Benficary Name Here</h3>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Validationform.BeneficiaryID" />

                <div class="form-group">
                    <label asp-for="Validationform.Beneficiary.LastName" class="control-label"></label>
                    <input asp-for="Validationform.Beneficiary.LastName" class="form-control" />
                    <span asp-validation-for="Validationform.Beneficiary.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Validationform.Beneficiary.FirstName" class="control-label"></label>
                    <input asp-for="Validationform.Beneficiary.FirstName" class="form-control" />
                    <span asp-validation-for="Validationform.Beneficiary.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Validationform.Beneficiary.MiddleName" class="control-label"></label>
                    <input asp-for="Validationform.Beneficiary.MiddleName" class="form-control" />
                    <span asp-validation-for="Validationform.Beneficiary.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Validationform.Beneficiary.ExtName" class="control-label"></label>
                    <input asp-for="Validationform.Beneficiary.ExtName" class="form-control" />
                    <span asp-validation-for="Validationform.Beneficiary.ExtName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" id="submitButton" value="Save" class="btn btn-primary" />
                    @* <input asp-page-handler="Upload" class="btn" type="submit" value="Upload"> *@
                </div>

            </div>
            @*Second column*@
            <div class="column">
                <h3>Validation Form here</h3>
                <hr />

                <div class="form-group">
                    <label asp-for="Validationform.AssessmentID" class="control-label"></label>
                    <select id="AssessmentID" asp-for="Validationform.AssessmentID" class="form-control"
                        asp-items="@Model.AssessmentSL">
                        <option value="">--Select Assessment--</option>
                    </select>
                    <span asp-validation-for="Validationform.AssessmentID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Validationform.Pantawid" class="control-label"></label>
                    <ejs-checkbox ejs-for="Validationform.Pantawid" checked="true"></ejs-checkbox>

                    <label asp-for="Validationform.Indigenous" class="control-label"></label>
                    <ejs-checkbox ejs-for="Validationform.Indigenous" checked="true"></ejs-checkbox>
                </div>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Validationform.ReferenceCode)
                </dt>
                <dd class="form-group">
                    @Html.DisplayFor(model => model.Validationform.ReferenceCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Validationform.SpinsBatch)
                </dt>
                <dd class="form-group">
                    @Html.DisplayFor(model => model.Validationform.SpinsBatch)
                </dd>



            </div>
            @*Third column*@
            <div class="column">
                <h3>Uploading of GIS Here</h3>
                <hr />

                <div class="form-group">
                    @* <label asp-for="FileUpload.GisPdf" class="control-label"></label> *@
                    <div class="custom-file">
                        <input asp-for="FileUpload.GisPdf" class="custom-file-input" id="customFile">
                    </div>
                    <span asp-validation-for="FileUpload.GisPdf" class="text-danger"></span>

                    @* <div class="form-group">
                    <a class="btn btn-primary" href="@Model.Validationform.GisPdfUrl">
                    View
                    </a> *@

                </div>
                <div class="form-group">
                    <iframe id="pdfViewer" src="/pdf/Validationforms/@(Model.Validationform.ReferenceCode).pdf"
                        class="form-control" style="height: 500px;"></iframe>
                </div>
                @* <div class="form-group">
                <iframe id="pdfViewer" src="Model.Validationform.ReferenceCode" class="form-control" style="height:
                500px;"></iframe>
                </div> *@
            </div>

        </div>

    </form>
</div>



@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
$('#customFile').change(function () {
var fileInput = $(this)[0];
if (fileInput.files && fileInput.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
$('#pdfViewer').attr('src', e.target.result);
}
reader.readAsDataURL(fileInput.files[0]);
}
});
});
</script> *@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submitButton').click(function () {
            var fileInput = $('#customFile')[0];
            if (!fileInput.files || !fileInput.files[0]) {
                alert("Please select a file to upload.");
                return false; // Prevent form submission
            }
        });
    });
</script>




</div>



<div>

</div>